### Django ###
__pycache__/
.git
.idea
.vscode
*.bin
*.log
*.pot
*.pyc
*.sql.gz
db.sqlite3
docker-compose-pro.yml
docker-compose.yml
local_settings.py
social/celerybeat-schedule
social/celerybeat.pid
social/static
venv