
__pycache__/
.env
.idea
.vscode
.venv
*.csv
*.log
*.pkl
*.pot
*.pyc
*.sql
*.sql.gz
db.sqlite3
local_settings.py
social/celerybeat-schedule
social/celerybeat.pid
social/static
static
telegram_sessions/
todo
venv