
__pycache__/
.env
.idea
.vscode
.venv
*.csv
*.log
*.pkl
*.pot
*.pyc
*.sql
*.rdb
*.sql.gz
*.rdb
db.sqlite3
local_settings.py
social/celerybeat-schedule
social/celerybeat.pid
social/static
static
telegram_sessions/
logs/
todo
venv
social_db_volume
