celery
django
django-admin-sortable2
django-cors-headers
django-filter
django-redis
djangorestframework
envparse
gunicorn
ipython
pip-tools
psycopg2-binary
pyaes
pycryptodome
redis
requests
unidecode
Pillow
