
celery
django
django-cors-headers
django-filter
django-redis
djangorestframework
envparse
gunicorn
ipython
linkedin-scraper==2.9.0 
openpyxl
pip-tools
psycopg2-binary
pytest-djang>=4.5.2 
python-dateutil
redis
requests
selenium
sentry-sdk
telethon
unidecode