
celery
django
django-cors-headers
django-filter
django-redis
djangorestframework
envparse
fasttext
gunicorn
ipython
linkedin-scraper==2.9.0 
openpyxl
pip-tools
psycopg2-binary
python-dateutil
redis
requests
selenium
telethon
unidecode